@page "/reset-password"
@layout AuthLayout

<PageTitle>Новый пароль</PageTitle>

<MudPaper Class="pa-8 mx-auto mt-16" MaxWidth="420px" Elevation="4">
    <MudText Typo="Typo.h5" Class="mb-2" Align="Align.Center">Новый пароль</MudText>
    <MudText Typo="Typo.body2" Class="mb-4" Align="Align.Center">
        Введите код из письма и новый пароль.
    </MudText>

    <MudForm @ref="_form">
        <MudTextField @bind-Value="_email" Label="Email" InputType="InputType.Email"
                      Required="true" RequiredError="Укажите email" Class="mb-3" />
        <MudTextField @bind-Value="_code" Label="Код из письма"
                      Required="true" RequiredError="Введите код" Class="mb-3" />
        <MudTextField @bind-Value="_newPassword" Label="Новый пароль" InputType="InputType.Password"
                      Required="true" RequiredError="Укажите новый пароль" />
    </MudForm>

    @if (_error is not null)
    {
        <MudAlert Severity="Severity.Error" Class="mt-4">@_error</MudAlert>
    }

    <MudButton Variant="Variant.Filled" Color="Color.Primary" FullWidth="true" Class="mt-6"
               OnClick="SubmitAsync" Disabled="_busy">
        @if (_busy) { <MudProgressCircular Size="Size.Small" Indeterminate="true" Class="mr-2" /> }
        Сменить пароль
    </MudButton>

    <div class="d-flex justify-center mt-4">
        <MudLink Href="/login">Ко входу</MudLink>
    </div>
</MudPaper>
